<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="barcode">
        <%= raw @qrcode.as_html %>
    </div>
    </div>
  </div>
  </div>
<div class="row">
  <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Order No <%= @invoice.id %></h4>
          <p class="card-category"> <%= @invoice.vendor.name %></p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Price
                </th>
              </thead>
              <tbody>
                <% @invoice.line_items.each do |line_item| %>
                  <tr>
                    <td>
                      <%= line_item.description %>
                    </td>
                    <td class="text-primary">
                      <%= number_to_currency(line_item.price) %>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <td>Total</td>
                  <td class="text-primary"><strong><%= number_to_currency(@invoice.line_items.sum(:price)) %></strong></td>
                </tr>
              </tbody>
            </table>
            </div>
        </div>
      </div>
    </div>
</div>
