<!DOCTYPE html>
<html class="full-height" lang="en-US">
  <head>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Payceipt - Innovating Beyond the Sale</title>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <meta name="description" content="Material design landing page template built by TemplateFlip.com"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'mdb/bootstrap.min', media: 'all' %>
    <%= stylesheet_link_tag 'mdb/mdb', media: 'all' %>
    <%= stylesheet_link_tag 'mdb/main', media: 'all' %>

  </head>
  <%= yield %>
    <footer class="page-footer indigo darken-2 center-on-small-only pt-0 mt-0">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mb-5 flex-center"><a class="px-3"><i class="fa fa-facebook fa-lg white-text"></i></a><a class="px-3"><i class="fa fa-twitter fa-lg white-text"></i></a><a class="px-3"><i class="fa fa-google-plus fa-lg white-text"></i></a><a class="px-3"><i class="fa fa-linkedin fa-lg white-text"></i></a></div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container-fluid">
          <p>&copy; <a href="/">Payceipt</a> 2018</p>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag 'mdb/jquery-3.2.1.min' %>
    <%= javascript_include_tag 'mdb/popper.min' %>
    <%= javascript_include_tag 'mdb/bootstrap.min' %>
    <%= javascript_include_tag 'mdb/main' %>
    <%= javascript_include_tag 'mdb/mdb.min' %>
    
    <script>new WOW().init();</script>
  </body>
</html>